.font-squada {
    font-family: 'Squada One', 'Noto Sans TC', monospace;
}

.font-paytone {
    font-family: 'Paytone One', 'Noto Sans TC', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin-bottom: 0;
}

h1 {
    line-height: 0;
    img {
        width: 85px;
        height: 18px;
        @include media-breakpoint-up(lg){
            width: 190px;
            height: 40px;
        }
    }
}

.nav-border {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top:100%;
        left:0;
        right:0;
        width: 100%;
        height: 1px;
        background-color: #000;
    }
    @include media-breakpoint-up(lg) {
        &::after {
            display: none;
        }
        border-right: 1px solid #000;
        font-size: 18px;
    }
}

.navbar-collapse {
    background: #fff;
    margin: 0 -12px;
    @include media-breakpoint-up(lg) {
        background: $body-bg;
    }
}

.navbar-light {
    &:hover {
        color:white;
    }
}

.header-nav-link {
    border:1px solid transparent;
    &:hover {
        background-color: $danger;
        border:1px solid black;
        color:white;
    }
    @include media-breakpoint-up(lg) {
        border: none;
        &:hover{
            background-color: $body-bg;
            color:rgba($black, .7);
            border:none;
        }
    }
}

.border-lg-left {
    @include media-breakpoint-up(lg) {
        border-left:1px solid black;
    }
}

.connect-icon {
    width: 16px;
    height: 16px;
}

.modal-header {
    position: relative;
    .btn-close {
        margin-left: 0;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    @include media-breakpoint-up(lg) {
        .btn-close {
            display: none;
        }
    }
}

.modal-body {
    i {
        visibility: hidden;
    }
    .btn-outline-black:hover {
        background: #fff;
        border:1px solid $danger;
        color:black;
        i {
            visibility: visible;
        }
    }
}

.modal-footer {
    a {
        width: 100%;
    }
    @include media-breakpoint-up(lg) {
        width: auto;
        margin: 0 auto;
    }
}

.offcanvas {
    height: 50px;
}