.table-icon {
    width: 48px;
    height: 48px;
    object-fit: cover; 
}

.table-triangle {
    position: relative;
    z-index: 10;

    a {
        &::after {
            position: absolute;
            content:"+";
            color:white;
            bottom:0;
            right:5px;
            z-index:5;
        }
    }
    
    &::after {
        position: absolute;
        content: "";
        border-bottom: 32px solid $black;
        border-left: 32px solid transparent;
        bottom:0;
        right:0;
    }

    &:hover {
        &::after {
            border-bottom: 32px solid $danger;
        }
    }

    @include media-breakpoint-up(lg) {
        a {
            display: none;
        }
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
    }
}

.table-turn {
    background-color: #fff;
    a{
        &::after {
            content: "-";
        }
    }
    &::after {
        border-bottom: 32px solid $danger;
    }
}

.art-hover:hover {
    color:$danger;
}